@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  /*display: flex; Je ne sais pas pour vous mais moi jarive pas a travailler avec ça activé */
  padding: 0;
  margin: 0;
}
.icone-module {
  display: inline;
  padding: 1rem;
  
}
.icone-module1 {
  display: inline;
  padding: 1rem;
  
  
}

.Icon {
    background-color:  black;
    display: flex;
    align-self: flex-start; 
    /* voir le html  */
}

.titre {
  font-family: 'PT Sans', sans-serif ;
  margin-top: 40px;
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.button {
    display:flex;
    justify-content: space-around;
    list-style: none;
    border: none;
    cursor: pointer;
    padding: 25%;
    min-width: 25%;
    max-width: 25%;
    margin: 0 auto 50px;
    position: relative;
    font-weight: 700;
    font-size: 1.47rem;
  }

  .icones_groupe {
    margin-top: 4rem;  
  }

  .espacement_module {
  margin-top: 0rem;  
  }
  .catégorie { 
    display: inline;
  }
  
  .catégorie_sous-catégorie { 
    display: inline;
    margin-left: 1rem;
  }

  .o {
    vertical-align: baseline;
  margin: 1rem;
  }

  /* .instagram {
    background:transparent;
    /* box-shadow: 0 3px 6px rgba(235, 25, 110, 1),0 3px 6px rgba(235, 25, 110, 0.23) ; */
    /* position: relative; */
    /* border-radius: .3rem;
    transition: .2s all ease-in-out;
    padding: 2rem;
    transition: all 2s;
    margin-right: 2rem;
  }

  .instagram:hover {
    border-radius: 20px;
  } 


  .frame {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: red;

}
  /* Entete principale */

  .main-header {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    width: 100vw;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  .main-header-title {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
  }

  .main-header-back {
    margin-right: auto
  }

  *,
  *:after,
  *:before {
      box-sizing: border-box;
  }
  
  .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  body {
      font-family: "Inter", sans-serif;
      color: #303030;
      background-color: mix(#d6ef43, #342ead, 95%);
  }
  
  .menu {
      display: flex;
      flex-grow: 1;
      height: 72px;
      max-width: 370px;
      border-radius: 12px;
      overflow: hidden;
      background-color: #d6ef43;
      box-shadow: 0 0 1px 0 rgba(#342ead, 0.25), 0 15px 30px 0 rgba(#342ead, 0.1);
  }
  
  .menu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      &:focus,
      &:hover {
          outline: none;
          .material-icons {
              font-family: "Material Icons";
              color: #342ead;
          }
  
          .menu-item-label {
              color: #342ead;
            
          }
      }
  }
  
  .material-icons {
      font-family: "Material Icons Outlined";
      display: block;
      margin-bottom: 4px;
      font-size: 26px;
      color: mix(#fff, #342ead, 60%);
      transition: 0.25s ease;
  }
  
  .menu-item-label {
      display: block;
      font-size: 13px;
      color: mix(#fff, #342ead, 70%);
      transition: 0.25s ease;
  }
  
