@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
}

.icone-module {
  display: inline;
  padding: 1rem;
  
}

.Icon {
    background-color:  black;
    display: flex;
    align-self: flex-start; 
    /* voir le html  */
}

.titre {
  font-family: 'PT Sans', sans-serif ;
  margin-top: 40px;
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
}

p {
  font-family: 'PT Sans', sans-serif ;
}

.button {
    display:flex;
    justify-content: space-around;
    list-style: none;
    border: none;
    cursor: pointer;
    padding: 25%;
    min-width: 25%;
    max-width: 25%;
    margin: 0 auto 50px;
    position: relative;
    font-weight: 700;
    font-size: 1.47rem;
  }

  .icones_app {
    margin-left: 12px;  
    margin-top: 60px;  
  }

  .br{
    margin: 0px;
  }

  .Description {
    margin: 10px;
  }

  .Hastag {
    margin: 5px;
  }  
  
  .Heure {
    margin: 12px;
  }  
  
  .Commentaire {
    margin: 4px;
  }  
  

  .Filtres {
    margin: 55px;
  }  
  
  .Partage {
    margin: -20px;
  }  
  
  .Musique {
    margin: 3px;
  }  
  
  .Lien {
    margin: 37px;
  }  
  
  .Partenaria {
    margin: -3px;
  }  
  
  .catégorie { 
    display: inline;
    margin: 3%;
  }

  .catégorie_sous-catégorie { 
    display: inline;
    margin-left: 23px;
  }

  .nom_sous-catégorie {
    display: inline;
    margin: 1rem;
  }

  /* .instagram {
    background:transparent;
    /* box-shadow: 0 3px 6px rgba(235, 25, 110, 1),0 3px 6px rgba(235, 25, 110, 0.23) ; */
    /* position: relative; */
    /* border-radius: .3rem;
    transition: .2s all ease-in-out;
    padding: 2rem;
    transition: all 2s;
    margin-right: 2rem;
  }

  .instagram:hover {
    border-radius: 20px;
  } 


  .frame {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: red;

}
  /* Entete principale */

  .main-header {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    width: 100vw;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  .main-header-title {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
  }

  .main-header-back {
    margin-right: auto
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  
  .container {
    position: absolute;
    top: 762;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  body {
    color: #303030;
    background-color: mix(#fff, #342ead, 95%);
  }
 
  .box_contenu {
   display: inline-block;
   width: 100%;
   height: 100px;
   padding: 15px;
   display: flex
   
}
.nom1 {
  position: absolute;
  left: 100px;
  font-family: 'PT Sans', sans-serif ;
  margin-top: 0px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.qui1{
  position: absolute;
  left: 100px;
  top: 190px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.combien1 {
  position: absolute;
  right: 10%;
  top: 210px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(85, 85, 85);
}
.nom2 {
  position: absolute;
  left: 100px;
  font-family: 'PT Sans', sans-serif ;
  margin-top: 0px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.qui2{
  position: absolute;
  left: 100px;
  top: 290px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.combien2 {
  position: absolute;
  right: 10%;
  top: 310px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(85, 85, 85);
}

.nom3 {
  position: absolute;
  left: 100px;
  font-family: 'PT Sans', sans-serif ;
  margin-top: 0px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.qui3{
  position: absolute;
  left: 100px;
  top: 390px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.combien3 {
  position: absolute;
  right: 10%;
  top: 405px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(85, 85, 85);
}

.nom4 {
  position: absolute;
  left: 100px;
  font-family: 'PT Sans', sans-serif ;
  margin-top: 0px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.qui4{
  position: absolute;
  left: 100px;
  top: 490px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.combien4 {
  position: absolute;
  right: 10%;
  top: 505px;
  font-family: 'PT Sans', sans-serif ;
  font-size: 1em;
  color: rgb(85, 85, 85);
}

  .menu2 {}
  .menu {
    display: flex;
    flex-grow: 1;
    height: 50px;
    max-width: 375px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }
  
  .social-icons {
    display: block;
    margin-bottom: 5px;
    color: mix(#fff, #342ead, 60%);
    transition: 0.25s ease;
  }
  
  .social-icons ul {
    
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.7em;
  }

  .grid-container {
    display: block;
  }
  
